<ul id="<%= dom_id group %>" class="category">
  <%= link_to expenses_path, class:"category-unit" do %>
    <li class="category-unit__icon">
      <i class="<%= group.icon %> fa-2xl"></i>
    </li>

    <li>
      <%= group.name %>
    </li>
  <% end %>
</ul>
