<p style="color: green"><%= notice %></p>

<div id="groups">
  <% if @groups.count.zero? %>
    <p><em>No groups available for the moment</em></p>
  <% else %>
    <% @groups.each do |group| %>
      <%= render group %>
    <% end %>
  <% end %>
</div>

<%= link_to "Add category", new_group_path %>
