@import 'mixins';

form { margin-top: 1rem;}
label { margin: 1rem 0 0 1rem; }

.add-button {
  @include center(90%);
}

.center-message {
  @include center(50%);
  width: 80%;
}

.category-name { padding: 0.5rem; }

.groups {
  & ul:nth-child(even) { background: rgba($color: $secondary-color, $alpha: 0.5); }
}

.category {
  cursor: pointer;

  &-unit {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    justify-items: center;
    text-decoration: none;
    color: black;
    & > * { margin: 1rem; }

    &__icon {
      
    }
  }
}