@import 'mixins';

form { margin-top: 1rem;}
label { margin: 1rem 0 0 1rem; }

.add-button {
  @include center(90%);
}

.center-message {
  @include center(50%);
  width: 80%;
}

.category-name { padding: 0.5rem; }