@import 'mixins';

.login-button {
  position: absolute;
  top: 1px;
  right: 1px;
  padding: 0.5rem 0.5rem;
  background: none;
  border: none;
  color: $background;
  font-family: $font;
}

.new_user {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  border-top: 1px solid rgba($color: $text-color, $alpha: 0.2);

  & [type="password"], [type="email"]  {
    width: 100%;
    outline: none;
    padding: 0.7rem;
    border: none;
    background-color: #fff;
    border-bottom: 1px solid rgba($color: $text-color, $alpha: 0.2);

    &::placeholder { color: rgba($color: $text-color, $alpha: 0.4); }
  }
}

.forgot-button {
  display: block;
  text-align: center;
  text-decoration: none;
  color: rgba($color: $text-color, $alpha: 0.4);
}
