@import 'mixins';

.login-signup-button {
  position: absolute;
  top: 1px;
  right: 1px;
  padding: 0.5rem 0.5rem;
  background: none;
  border: none;
  color: $background;
  font-family: $font;
  font-weight: lighter;
  margin: 0;
}

.new_user {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  border-top: 1px solid rgba($color: $text-color, $alpha: 0.2);

  & [type="password"],
  [type="email"],
  [type="text"] {
    width: 100%;
    outline: none;
    padding: 0.7rem;
    border: none;
    background-color: #fff;
    border-bottom: 1px solid rgba($color: $text-color, $alpha: 0.2);

    &::placeholder {
      color: rgba($color: $text-color, $alpha: 0.4);
      font-family: $font;
    }
  }
}

.field {
  width: 100%;
  outline: none;
  padding: 1rem;
  border: none;
  background-color: #fff;
  border-bottom: 1px solid rgba($color: $text-color, $alpha: 0.2);
  color: rgba($color: $text-color, $alpha: 0.4);

  &-label {
    cursor: pointer;
    font-size: 1rem;
    margin-left: 0.5rem;

    &:hover { text-decoration: underline; }

    &__file { display: none; }
  }
}

.fa-user::before { color: rgba($color: $text-color, $alpha: 0.2); }

.forgot-button {
  display: block;
  text-align: center;
  text-decoration: none;
  color: rgba($color: $text-color, $alpha: 0.4);
}
