@import 'mixins';

.navbar {
  background-color: $main-color;
  padding: 0.5rem 0.5rem;

  &-ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1.8fr 1fr;

    & :nth-child(2) { justify-self: center; }
    & :last-child { justify-self: center; }
    & > * { color: $background; }

    &__logout {
      text-decoration: none;
      color: $background;
    }
  }
}

.back-to {
  color: $background;
  transition: $transition;

  &:hover {
    transition: $transition;
    color: $secondary-color;
  }
}
