<ul id="<%= dom_id expense %>" class="category">
  <div class="category-unit">
    <li>
      <%= expense.name %>
    </li>

    <li>
      $<%= expense.amount %>
    </li>

    <li class="category-unit__date">
      <%= expense.created_at.strftime("%H:%M | %b %d, %Y") %>
    </li>
  </div>

</ul>
